@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #191919 ;
  --foreground: #171717;
  --text:#fff;
}

@font-face {
  font-family: "Mono-Regular";
  src: url(./font/Mono/IBM_Plex_Mono/IBMPlexMono-Regular.ttf);
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url(./font/Mono/Inter/static/Inter_18pt-Medium.ttf);
  font-style: normal;
}

body {
  font-family: "Geist-Sans", 'sans-serif';
  background: var(--background);
  background-size: cover;
  color: var(--text);
}

#home{
  display: grid;
  width: full;
  grid-template-areas: "main s-main"
                       "main s-main"
                       "team team"
                       "team team"
                       
                       ;
  grid-template-columns: 2fr;
  grid-template-rows: 2fr;
  place-content: center;
  justify-items: center;
}

