@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #191919 ;
  --foreground: #171717;
  --text:#fff;
}

@font-face {
  font-family: "Mono-Regular";
  src: url(./font/Mono/IBM_Plex_Mono/IBMPlexMono-Regular.ttf);
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url(./font/Mono/Inter/static/Inter_18pt-Medium.ttf);
  font-style: normal;
}

@font-face {
  font-family: "Mono-Bold";
  src: url(./font/Mono/IBM_Plex_Mono/IBMPlexMono-Bold.ttf);
  font-style: normal;
}

body {
  background: var(--background);
  color: var(--text);
}

